*{ 
    margin: 0px;
    padding: 0px;
}  
#container{
    width: 800px;
    height:auto;
    padding: auto;
    margin: 15px, 50px;
    background-color: rgb(131, 158, 158);
    border: 2px  rgb(36, 26, 26) solid; 
    display: inline-block;
} 
.nav{
    background-color: rgb(85, 167, 167);
    width: 800px;
    height: 175px;
    margin: 0 auto;
}
#main_content{
    width: 700px; 
    min-height: 600px; 
    padding: 10px;
    margin: 10px, 50px;
    background-color: rgb(139, 224, 150); 
}
h1, h2{
    width: 600px;
    padding: 5px; 
    margin: 10px;  
    background-color: rgb(53, 155, 131);
    display: flex;    
    align-items: center;
    justify-content: center; 
    border-bottom: 2px  rgb(122, 106, 106) solid;  
}

.form-group, button {
    padding: 5px;
    margin: 10px;
}
