*{ 
    margin: 0px;
    padding: 0px;
}    
#container{
    width: 700px; 
    min-height: 600px; 
    padding: 10px;
    margin: 10px, 50px;
    background-color: rgb(162, 214, 169); 
}
h1, h2{
    width: 600px;
    padding: 5px; 
    margin: 10px;  
    background-color: rgb(53, 155, 131);
    display: flex;    
    align-items: center;
    justify-content: center; 
    border-bottom: 2px  rgb(122, 106, 106) solid;  
}
.main_content{
    width: 700px;
    height:auto;
    margin: 15px;
    background-color: rgb(168, 192, 192);
    border: 2px  rgb(122, 106, 106) solid; 
    /* display: flex; 
    align-items: center;
    justify-content: center; */

}
p{
    width: 400px;  
    padding: 5px;
    margin: 5px; 
    color: rgb(13, 73, 11);
}
